@use 'fonts';

// Font Families 
$h1-font-family: "Bubbler One", sans-serif;
$h2-font-family: "Alata", sans-serif;
$p-font-family: "Alata", sans-serif;

// Font Sizes
$base-font-size: 20px;
$base-font-weight: 300;
$li-font-size: 28px;


