
#hero {
    margin: 64px 34px;
}

button {
    background-color: #D6ECB1;
    padding: 10px 20px;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 24px 0;
}

button:hover {
    background-color: #f0647e;
}

#confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
    z-index: 10;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    will-change: transform, opacity;
}

#creative-text {
    display: grid;
    font-weight: bold;
    text-transform: uppercase;
    animation: colorShift 10s infinite;
}

@keyframes colorShift {
    0% {
        color: #FF69B4; /* Pink */
    }
    20% {
        color: #1E90FF; /* Blue */
    }
    40% {
        color: #FFD700; /* Gold */
    }
    60% {
        color: #32CD32; /* Green */
    }
    80% {
        color: #FF4500; /* Orange */
    }
    100% {
        color: #FF69B4; /* Back to Pink */
    }
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}